body {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    margin: auto;
    padding:40px;
    padding-top:60px;
    color: white;
}

section {
    width:600px;
    text-align: center;
}

#time {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    padding:5px;
}

#albumcover {
    margin:auto;
    padding-top:40px;
    padding-bottom:40px;
}
p {
    margin:0;
}

div {
    align-items:center;
}

#songcontainer {
    width: 300px;
}

#song p {
    background-color: #E91E79;
    padding:7px;
    font-size: 36px;
    font-family: 'Manrope', sans-serif;
}

#lyriccontainer {
    padding-top:30px;
    text-align: left;
    font-size: 36px;
}

.star {
    padding-top: 20px;
    padding-bottom: 20px;
}

#lyrics p {
    font-family: 'Genos', sans-serif;
    line-height: 1.3;
}