/* color palette
pink: #db7f8e
yellow: #ffdc2d
brown: #854d27
blue: #c8f7f9
green: #9fd356

typeface
font-family: 'Pangolin', cursive; */
body {
    background-image:url('images/background.svg');
    background-size:cover;
    background-color: #c8f7f9;
    font-family: 'Pangolin', cursive; 
    text-align: center;
    width:100%;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    font-size: 18px;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white, 4px 4px 6px black;
    padding: 30px;
}

.davis {
    display:block;
    font-size: 28px;
}

.flower {
    padding: 20px;
}

#headinghome {
    transform: scale(1.5);
}

#homepage  {
    margin-top:15%;
}

.homeicon, .homeicon2, .homeicon3, .homeicon4, .homeicon5, .homeicon6, .hi, .hi2, .hi3, .hi4, .hi5, .hi6, .hi7, .hi8, .hi9, .hi10, .hi11, .hi12 {
    position:absolute;
    top:40px;
    left:20px;
}
.homeicon:hover, .homeicon2:hover, .homeicon3:hover, .homeicon4:hover, .homeicon5:hover, .homeicon6:hover, .hi:hover, .hi2:hover, .hi3:hover, .hi4:hover, .hi5:hover, .hi6:hover {
    cursor:pointer;
}

img {
    padding:20px;
}

button {
    background-color: transparent;
    border:none;
    transition-duration: 0.5s;
}

button:hover {
    transform: scale(1.4);
}

.showing {
    display:block;
    margin-top:10%;
}

.hidden {
    display:none;
}

.page1layout, .page3layout, .page2layoutplant {
    display: flex;
    flex-direction: row;
}
.page2layout {
    margin-top:30px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.page2layoutplant, .page3layout {
    justify-content: center;
}

.page2layout img {
    position: absolute;
    top:35%;
    padding-top: 0px;
}

.page2layout #cowimg2, .page2layout #turtleimg2 {
    top:30%;
}

.page3layout  {
    align-items:center;
}

.page1article, .page2articleplant {
    margin-top:20px;
    width: 500px;
    height:fit-content;
}

.page2article {
    width: 80%;
    border-radius:50px;
}

.page2articleplant {
    border-radius:50px 50px 0px 50px;
}

.page3article {
    width: 400px;
    height:fit-content;
    border-radius:50px 50px 0px 50px;
}

.flip {
    transform: scaleX(-1);
    padding:0px;
}

.next, .next2, .backhome, .next3, .next4, .backhome2, .next5, .next6, .backhome3, .next7, .next8, .backhome4, .next9, .next10, .backhome5, .next11, .next12, .backhome6, .n, .bh, .n2, .n3, .bh2, .n4, .n5, .bh3, .n6, .n7, .bh4, .n8, .n9, .bh5, .n10, .n11,.n12, .bh6 {
    position:absolute;
    bottom:30%;
    right:70px;
    background-color: #ffdc2d;
    border: 2px solid black;
    border-radius: 20px;
    padding:5px;
    width: 100px;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}

.back, .back2, .back3, .back4, .back5, .back6, .back7, .back8, .back9, .back10, .back11, .back12, .b, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9, .b10, .b11, .b12 {
    position:absolute;
    top:0px;
    left:20px; 
}


section {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}

article {
    font-size: 27px;
    background-color:white;
    border: 3px solid black;
    border-radius:50px 50px 50px 0px;
    padding:30px;
    text-align: left;
}

.realimage {
    padding: 0px;
    margin:40px;
    border: 20px solid white;
    border-radius: 50px;
    filter: drop-shadow(-5px 5px 7px rgb(72, 72, 72));
}

p {
    margin:0%;
}