/* color palette
pink: #db7f8e
yellow: #ffdc2d
brown: #854d27
blue: #c8f7f9
green: #9fd356

typeface
font-family: 'Pangolin', cursive; */
body {
    background-color: #c8f7f9;
    font-family: 'Pangolin', cursive;
    font-size: 28px;
    margin: auto;
    text-align:center;
}

h1 {
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white, 4px 4px 6px black;
}

h2, p {
    margin:0%;
    text-align: left;
}

p {
    padding-bottom: 50px;
}

section {
    width: 800px;
    margin:auto;
    padding-bottom: 40px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 55px;
    border-width: 4px;
}

#paintbuttons {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

#pink {
    background-color: pink;
}

#black {
    background-color: black;
}

#mySketch {
    width: 1366px;
    margin: auto;
}

#delete {
    border: none;
    background-color: transparent;
}